.item{
    background-color: brown;
    height: 200px;
    width: 335px;
    color: yellow;
    font-weight: 5000;
    border: 1px solid white;
 }
.holder{
    /* position: relative; */
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }